*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --numero-size: 100px;
  --mark-size: calc(var(--numero-size) * 0.9);
}

body {
  margin: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: burlywood;
}

.tablero {
  display: table;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.numero {
  width: var(--numero-size);
  height: var(--numero-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  background-color: blanchedalmond;
}


